<!DOCTYPE html>
<html>
	<head>
		<title>GeoFS Events Bot Home</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://events-bot.nrod06.repl.co/static/main.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="https://events-bot.nrod06.repl.co/index">Home</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/help">Commands</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/uptime">Uptime</a></li>
			</ul>
		</nav>
		<center>
			<h1>Uptime</h1>
		</center>
		<p class="uptime">I've been running for about <%= min %> minutes! (That's <%= sec %> seconds)</p>
	</body>
</html>