<!DOCTYPE html>
<html>
	<head>
		<title>GeoFS Events Bot | Uptime</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://events-bot.nrod06.repl.co/static/main.css">
		<link rel="shortcut icon" type="image/png" href="https://events-bot.nrod06.repl.co/static/favicon.png"/>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="https://events-bot.nrod06.repl.co/index">Home</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/about">About</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/help">Commands</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/uptime">Uptime</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/election">Live Election Results</a></li>
			</ul>
		</nav>
		<center>
			<h1>Uptime</h1>
		</center>
		<p>Time running:</p>
		<p id="uptime"></p>
	</body>
	<script>
		function convertMiliseconds(miliseconds) {
		var days, hours, minutes, seconds, total_hours, total_minutes, total_seconds
		
		total_seconds = parseInt(Math.floor(miliseconds / 1000))
		total_minutes = parseInt(Math.floor(total_seconds / 60))
		total_hours = parseInt(Math.floor(total_minutes / 60))
		days = parseInt(Math.floor(total_hours / 24))
		
		seconds = parseInt(total_seconds % 60)
		minutes = parseInt(total_minutes % 60)
		hours = parseInt(total_hours % 24)
		
		
		return {
		d: days,
		h: hours,
		m: minutes,
		s: seconds
		}
		}
		
		function getDateObject(existed) {
		data = convertMiliseconds(existed)
		const calculateTimimg = d => {
		let months = 0,
			years = 0,
			days = 0,
			weeks = 0
		while (d) {
			if (d >= 365) {
				years++
				d -= 365
			} else if (d >= 30) {
				months++
				d -= 30
			} else if (d >= 7) {
				weeks++
				d -= 7
			} else {
				days++
				d--
			}
		}
		return {
			years,
			months,
			weeks,
			days
		}
		}
		
		moredata = calculateTimimg(data.d)
		
		return {
		y: moredata.years,
		m: moredata.months,
		w: moredata.weeks,
		d: moredata.days,
		h: data.h,
		mi: data.m,
		s: data.s
		}
		}
		
		function timeHandler(existed) {
		dateobj = getDateObject(existed)
		
		if (dateobj.y > 0) {
		return `Years: ${dateobj.y}, Months: ${dateobj.m}, Weeks: ${dateobj.w}, Days: ${dateobj.d}`
		}
		if (dateobj.m > 0) {
		return `Months: ${dateobj.m}, Weeks: ${dateobj.w}, Days: ${dateobj.d}`
		}
		if (dateobj.w > 0) {
		return `Weeks: ${dateobj.w}, Days: ${dateobj.d}, Hours: ${dateobj.h}`
		}
		if (dateobj.d > 0) {
		return `Days: ${dateobj.d}, Hours: ${dateobj.h}, Minutes: ${dateobj.mi}`
		}
		if (dateobj.h > 0) {
		return `Hours: ${dateobj.h}, Minutes: ${dateobj.mi}, Seconds: ${dateobj.s}`
		}
		return `Minutes: ${dateobj.mi}, Seconds: ${dateobj.s}`
		}
		
		function updateptag() {
			ptag = document.getElementById('uptime')
			timesince = Date.now() - <%= starttime %>
		
			sec = Math.round(timesince/1000)
			min = Math.floor(sec/60)
			ptag.innerHTML = `${timeHandler(timesince)}`
		}
		
		window.onload = function() {
			updateptag()
		}
		
		setInterval(function() {
			updateptag()
		}, 1000)
	</script>
</html>