<!DOCTYPE html>
<html>
	<head>
		<title>GeoFS Events Bot | Uptime</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://events-bot.nrod06.repl.co/static/main.css">
		<link rel="shortcut icon" type="image/png" href="https://events-bot.nrod06.repl.co/static/favicon.png"/>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="https://events-bot.nrod06.repl.co/index">Home</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/about">About</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/help">Commands</a></li>
				<li><a href="https://events-bot.nrod06.repl.co/uptime">Uptime</a></li>
			</ul>
		</nav>
		<center>
			<h1>Uptime</h1>
		</center>
		<p id="uptime">I've been running for 0 seconds! (That's about 0 minutes)</p>
	</body>
	<script>
		var starttime = <%= starttime %>
		
		function updateptag() {
			ptag = document.getElementById('uptime')
			timesince = Date.now() - starttime
		
			sec = Math.round(timesince/1000)
			min = Math.floor(sec/60)
			ptag.innerHTML = `I've been running for ${sec} seconds! (That's about ${min} minutes)`
		}
		
		window.onload = function() {
			updateptag()
		}
		
		setInterval(function() {
			updateptag()
		}, 1000)
	</script>
</html>